@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-bg: #d1ddff;
  --password-bg: #00154e;
  --password-font-color: #ecd500;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  background-color: #00071a;
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #000000 0%,
    #000b29 90%
  );
  color: #fff;
  display: flex;
  font-family: "Abel", sans-serif;
  height: 100vh;
  max-width: 100vw;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.6);
}

.generator-container {
  margin-top: 50px;
  position: absolute;
  background-color: var(--light-bg);
  border-radius: 10px;
  box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.719);
  color: black;
  padding: 20px;
  width: 400px;
  height: auto;
}

.result-container {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1rem;
  height: 45px;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.result-container #result {
  background-color: var(--password-bg);
  color: var(--password-font-color);
  height: 42px;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

#clipboard {
  display: block;
  background-color: #eca100;
  border: #00154e solid 2px;
  cursor: pointer;
  font-size: 1.2rem;
  height: 42px;
  width: 42px;
}

button:active {
  animation: button-clicked 0.2s;
}

@keyframes button-clicked {
  0% {
    border-top: #00154e solid 6px;
    border-left: #00154e solid 4px;
    border-right: #00154e solid 4px;
    border-bottom: #00154e solid 5px;
  }
  100% {
    border-top: #00154e solid 2px;
    border-left: #00154e solid 2px;
    border-right: #00154e solid 2px;
    border-bottom: #00154e solid 2px;
  }
}

.password-length {
  display: flex;
  margin: 20px 70px;
  justify-content: space-evenly;
}

.password-length.activated {
  animation: shaker 0.2s 3;
  transition: all;
}

@keyframes shaker {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.password-lenght input {
  width: 130px;
}

.option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-bottom: 10px;
}

.options.activated {
  animation: shaker 0.2s 3;
  transition: all;
}

#generate-password {
  background-color: #eca100;
  border-radius: 5px;
  border: #00154e solid 2px;
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  height: 40px;
  padding: 4px 6px;
  width: 100%;
}

.passwords {
  max-height: 400px;
  margin-top: 20px;
  font-size: 0.9rem;
  justify-content: center;
  overflow-y:auto;;
}

.passwords ul {
  display: list-item;
  list-style: none;
  padding: 2px;
}

.passwords li {
  display: inline-flex;
  justify-content: space-around;
  padding: 5px;
  background-color: var(--password-bg);
  color: var(--password-font-color);
  overflow-wrap: no-wrap;
  margin: 3px;
  border-radius: 5px;
  height: 2rem;
}

.small-btn {
  background-color: var(--password-bg);
  border: none;
  cursor: pointer;
}

.passwords li.activated {
  visibility: none;
}